/* Sample styles for your plugin */
#instructor-students {
    color: #333;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}

#tablaOrdenes {
    width: 100%;
    border-collapse: collapse;
}

#tablaOrdenes th, #tablaOrdenes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tablaOrdenes th {
    background-color: #f2f2f2;
}

/* ICONO MENU ITEM - MY ACCOUNT MENU */
.woocommerce-MyAccount-navigation-link--my-courses-sales>a::before {
    content: "\eeda"; /* Replace with the desired icon or HTML entity */
}

/* DATA SUMARY STYLE */
#data-summary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px !important;
}

@media screen and (max-width: 720px) {
    #data-summary {
        flex-direction: column;
        width: 100%; /* Set the width to 80% of the parent container */
        margin-left: auto; /* Auto margin for horizontal centering */
        margin-right: auto; /* Auto margin for horizontal centering */
    }

    #instructor-students,
    #fucking-taxes,
    #your-check { 
        width: 100% !important;
        margin-bottom:20px;
    }
}


/* Style the summary boxes */
#instructor-students,
#fucking-taxes,
#your-check { /* Added #instructor-students here */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    padding: 10px;
    color: black;
    font-weight: 500;
    background: rgb(241, 241, 241);
    width: 32%;
    border-radius: 3px;
    border: 1px solid rgb(216, 216, 216);
}

/* Clear the floating elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Your Check My Account Card */

div#your-check {
    background: #5ac55a !important;
    color: white !important;
}

/* DATE SELECTOR MY ACCOUNT MY COURSES SALES */

form#date-filter {
    background: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
}

input#end-date,
input#start-date {
    margin: 5px 5px 5px 5px;
}