/* Base Styles for the Plugin */

/* Table styles */
#tablaOrdenes {
    width: 100%;
    border-collapse: collapse;
}

#tablaOrdenes th, #tablaOrdenes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tablaOrdenes th {
    background-color: #f2f2f2;
}

/* Summary boxes styles */
#instructor-students,
#fucking-taxes,
#your-check { 
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    padding: 10px;
    color: black;
    font-weight: 500;
    background: rgb(241, 241, 241);
    width: 32%;
    border-radius: 3px;
    border: 1px solid rgb(216, 216, 216);
}

/* Individual summary box styles */
#instructor-students {
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
}

div#your-check {
    background: #5ac55a !important;
    color: white !important;
}

/* Date selector form styles */
form#date-filter {
    background: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
}

input#end-date,
input#start-date {
    margin: 5px;
}

/* Responsive Styles */

@media screen and (max-width: 720px) {
    #data-summary {
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #instructor-students,
    #fucking-taxes,
    #your-check { 
        width: 100% !important;
        margin-bottom: 20px;
    }
}

/* Miscellaneous Styles */

/* Clearfix for floating elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Menu icon style */
.woocommerce-MyAccount-navigation-link--my-courses-sales>a::before {
    content: "\eeda"; /* Replace with the desired icon or HTML entity */
}

/* Data summary style */
#data-summary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px !important;
}
